# Copy this file as .env, chmod 600 it and edit variables
#
# APP_BASE_URL: This is the base public URL where the service will be running.
# If Joplin Server needs to be accessible over the internet, configure APP_BASE_URL as follows: https://example.com/joplin. 
# If Joplin Server does not need to be accessible over the internet, set the the APP_BASE_URL to your server's hostname. 
#     For Example: http://[hostname]:22300. The base URL can include the port.
# JOPLIN_PORT: The local port on which the Docker container will listen. 
# JOPLIN_FQDN is used by traefik label (reverse proxy to route the traffic)

POSTGRES_PORT=5432
POSTGRES_USER=joplin
POSTGRES_PASSWORD=joplin
POSTGRES_DATABASE=joplin
DB_VOL=/opt/MyJoplinPostgres
DB_BACKUP_VOL=/opt/MyJoplinPostgresBackup
JOPLIN_PORT=22300
JOPLIN_FQDN=myjoplin.domain.fr
APP_BASE_URL=https://${JOPLIN_FQDN}
MAILER_ENABLED=0
MAILER_HOST=smtp.domain.fr
MAILER_PORT=587
MAILER_SECURITY=starttls
MAILER_AUTH_USER=user
MAILER_AUTH_PASSWORD=password
MAILER_NOREPLY_NAME=JoplinServer
MAILER_NOREPLY_EMAIL=noreply@domain.fr