# Copy this file as .env, set permissions with chmod 600 .env, and edit the variables.
#
# APP_BASE_URL: The base public URL where the service will be accessible.
# If Joplin Server needs to be accessible over the internet, configure both JOPLIN_FQDN and APP_BASE_URL.
#  Example: JOPLIN_FQDN=example.com and APP_BASE_URL=https://${JOPLIN_FQDN}/joplin
# JOPLIN_PORT: The local port on which the Docker container will listen.
# JOPLIN_FQDN: Used by Traefik labels for reverse proxy routing.
#
# WARNING: PostgreSQL major version upgrades require a dump/restore procedure.
#          https://www.postgresql.org/support/versioning/
#

JOPLIN_TAG=3.5.12
POSTGRES_TAG=16.11-alpine3.22
POSTGRES_PORT=5432
POSTGRES_USER=joplin
POSTGRES_PASSWORD=joplin
POSTGRES_DATABASE=joplin
DB_VOL=/opt/MyJoplinPostgres
DB_BACKUP_VOL=/opt/MyJoplinPostgresBackup
JOPLIN_PORT=22300
JOPLIN_FQDN=myjoplin.domain.fr
APP_BASE_URL=https://${JOPLIN_FQDN}
MAILER_ENABLED=0
MAILER_HOST=smtp.domain.fr
MAILER_PORT=587
MAILER_SECURITY=starttls
MAILER_AUTH_USER=user
MAILER_AUTH_PASSWORD=password
MAILER_NOREPLY_NAME=JoplinServer
MAILER_NOREPLY_EMAIL=noreply@domain.fr

# Plakar repo name and options (backup)
PLAKAR=/usr/local/bin/plakarbackup.sh
OPTS="-mf"
REPONAME=myplakarreponame