# Copy this file as .env, chmod 600 it, and edit the variables.
#
# APP_BASE_URL: This is the base public URL where the service will be running.
# If Joplin Server needs to be accessible over the internet, configure APP_BASE_URL as follows: https://example.com/joplin.
# If Joplin Server does not need to be accessible over the internet, set the APP_BASE_URL to your server's hostname.
#     For example: http://[hostname]:22300. The base URL can include the port.
# JOPLIN_PORT: The local port on which the Docker container will listen.
# JOPLIN_FQDN: Used by Traefik labels (reverse proxy to route the traffic).
#
# /!\ Careful with PostgreSQL major version upgrades. A dump/restore is required.
#     https://www.postgresql.org/support/versioning/
#

JOPLIN_TAG=3.5.12
POSTGRES_TAG=16.11-alpine3.22
POSTGRES_PORT=5432
POSTGRES_USER=joplin
POSTGRES_PASSWORD=joplin
POSTGRES_DATABASE=joplin
DB_VOL=/opt/MyJoplinPostgres
DB_BACKUP_VOL=/opt/MyJoplinPostgresBackup
JOPLIN_PORT=22300
JOPLIN_FQDN=myjoplin.domain.fr
APP_BASE_URL=https://${JOPLIN_FQDN}
MAILER_ENABLED=0
MAILER_HOST=smtp.domain.fr
MAILER_PORT=587
MAILER_SECURITY=starttls
MAILER_AUTH_USER=user
MAILER_AUTH_PASSWORD=password
MAILER_NOREPLY_NAME=JoplinServer
MAILER_NOREPLY_EMAIL=noreply@domain.fr

# Plakar repo name and options (backup)
PLAKAR=/usr/local/bin/plakarbackup.sh
OPTS="-mf"
REPONAME=myplakarreponame